.notif-heading{
    background: #03009F !important;
    font-family: 'Source Sans Pro';
    font-weight: 550;
    text-align: center;
    color: white;
    border: none;
}

.add-notif{
    width: 100%;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-weight: 550 !important;
}

.notifications{
    border: none;
    box-shadow: 0px 4px 4px rgba(3, 0, 159, 0.2);
}