.welcome-card{
    font-family: 'Montserrat';
    font-weight: 600;
    width: 100%;
    padding: 30px;
    height: auto;
    border: none !important;
    box-shadow: 1px 4px 12px rgba(3, 0, 159, 0.1);
    color: navy;
}
.username{
    color: blue;
    font-size: 35px;
    font-weight: 550;
    margin: 0 5px;
}