.profile-menu{
    margin-right: 10px !important;
}

.profile-dropdown{
    color: white !important;
    font-family: 'Source Sans Pro';
    font-weight: 550 !important;
    background-color: transparent !important;
    margin: 0 !important;
    border: 1px solid !important;
}
.profile-dropdown:active{
    background-color: transparent !important;
    outline: none !important;
}

.profile-dropdown:focus{
    background-color: transparent !important;
    outline: none !important;
}

.navbar{
    background: #AFD1FF !important;
}