.footer{
    text-align: center;
    font-size: 16px; 
    font-family: 'Source Sans Pro';
    margin: auto;
    background-color: #AFD1FF;
    color: navy; 
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    width: 100%;
}