.question{
    color: navy;
    font-size: 18px;
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    color: darkblue;
}
.user{
    font-size: 16px;
    font-weight:500;
}

.q-card{
    box-shadow: 1px 4px 12px rgba(3, 0, 159, 0.1);
    border: none !important;
}